<?xml version="1.0" ?>
<robot name="mainbot" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find mainbot)/urdf/base/base.urdf.xacro" />
  <xacro:include filename="$(find mainbot)/urdf/wheels/mecanum_wheel.urdf.xacro" />
  <xacro:include filename="$(find mainbot)/urdf/sensors/lidar.urdf.xacro" />
  <xacro:include filename="$(find mainbot)/urdf/sensors/imu.urdf.xacro" />

  <xacro:property name="wheel_offset_x" value="0.15" /> 
  <xacro:property name="wheel_offset_y" value="0.18" /> 
  <xacro:property name="wheel_offset_z" value="-0.125" />  
  <xacro:custom_base prefix="robot_" />

  <!-- Bánh Trước Trái (Front Left) -->
  <xacro:mainbot_mecanum_wheel 
    prefix="robot_front_left_" parent="robot_base_link" reflect="true" use_mesh="false" 
    xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" 
    fdir="1 -1 0" />

  <!-- Bánh Trước Phải (Front Right) -->
  <xacro:mainbot_mecanum_wheel 
    prefix="robot_front_right_" parent="robot_base_link" reflect="false" use_mesh="false" 
    xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" 
    fdir="1 1 0" />

  <!-- Bánh Sau Trái (Back Left) -->
  <xacro:mainbot_mecanum_wheel 
    prefix="robot_back_left_" parent="robot_base_link" reflect="false" use_mesh="false" 
    xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" 
    fdir="1 1 0" />

  <!-- Bánh Sau Phải (Back Right) -->
  <xacro:mainbot_mecanum_wheel 
    prefix="robot_back_right_" parent="robot_base_link" reflect="true" use_mesh="false" 
    xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" 
    fdir="1 -1 0" />

  <xacro:mainbot_lidar prefix="robot_" parent="robot_base_link" xyz="0.10 0 0.15" rpy="0 0 0" />
  <xacro:mainbot_imu prefix="robot_" parent="robot_base_link" xyz="0 0 0" rpy="0 0 0" />

  <gazebo>
    <plugin filename="gz-sim-mecanum-drive-system" name="gz::sim::systems::MecanumDrive">
      <front_left_joint>robot_front_left_wheel_joint</front_left_joint>
      <front_right_joint>robot_front_right_wheel_joint</front_right_joint>
      <back_left_joint>robot_back_left_wheel_joint</back_left_joint>
      <back_right_joint>robot_back_right_wheel_joint</back_right_joint>
      
      <wheel_separation>0.36</wheel_separation>
      <wheelbase>0.30</wheelbase>
      <wheel_radius>0.050</wheel_radius>
      
      <odom_publish_frequency>50</odom_publish_frequency>
      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
      <publish_odom>true</publish_odom>
      
      <publish_odom_tf>false</publish_odom_tf>
      
      <frame_id>odom</frame_id>
      <child_frame_id>robot_base_footprint</child_frame_id>
    </plugin>
    
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <update_rate>50</update_rate>
      <topic>/joint_states</topic>
      <joint_name>robot_front_left_wheel_joint</joint_name>
      <joint_name>robot_front_right_wheel_joint</joint_name>
      <joint_name>robot_back_left_wheel_joint</joint_name>
      <joint_name>robot_back_right_wheel_joint</joint_name>
    </plugin>

    <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
    </plugin>
  </gazebo>
</robot>